@model IEnumerable<AchatArticles.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantiteDispo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.QuantiteDispo)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                    <a asp-controller="Articles" asp-action="AjoutPanier" asp-route-idArticle="@item.Id">Ajouter au panier</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<p>
    <a asp-controller="Paniers" asp-action="Index">Voir mon panier</a>
</p>
